/*Globales toda la pagina*/
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Tamaño predeterminado para todo el cuerpo*/
.body{
    background-image: url(img/Logo\ circular\ floral\ negro.png);
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';

}

.menu {
    color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
     
}

.boton {
   margin-right: 50px;
   border: 2px black solid;
   padding: 3px 3px 3px 3px;
   background-color:rgb(255, 0, 179);
   border-radius: 10px;

}

header > div > img {
    width: 200px;
    height: 200px;

}   

.titulo {
    display: flex;
    justify-content: center;
}
    



/*ancho de todas las imagenes*/
.imagen{
    max-width: 100%;
}





/*aqui defino el contenedor, cuadrilla que qiero con mis productos*/
.contenedor_imagenes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 0 0 10px 0;
}


.imagen{
    border-radius: 10px;
}

.imagen:hover{
    box-shadow: o 10px 20px rgba(0, 0, 0, 0.20);
}


.imagen img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.imagen figure{
    overflow: hidden;
}

.imagen:hover img{
    transform: scale(1.2);
}

.info_producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}

.info_producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}    

.formulario {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
   
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }


.parrafo{
    color: indigo;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    padding: 10%;
}


.titulo2{
    padding: 0 0 25px 0;
    width: 500%;

}

.lista img{
    width: 80%;
}

.lista p {
    font-size: 100%;
}

.envio {
    width: 200px;
    height: 200px;
    object-fit: cover;
}